@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
		url('../fonts/CircularStd-Medium.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.woff') format('woff');
	font-display: swap;
}